{% extends 'admin.html' %}

{% block content %}
<style>
    table{
        font-size: 15px;
    }
</style>
<div class="container-fluid">
    <h1 class="h3 mb-1 text-gray-800 font-weight-bold" style="color: rgb(42, 41, 41);"> &nbsp;Patients Queue (Waiting List) <span id="total-count" class="badge badge-secondary"></span> </h1>
    <p></p>
    <hr style="margin-top: -5px;">
    <div class="container">
        <table id="dataTable" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Destination</th>
                                <th>Date</th>
                                <th>Nurse</th>
                                <th>Doctor in charge</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr {% if patient.encounter_status == 2 %} class="bg bg-warning" {% elif patient.encounter_status == 3 %} class="bg bg-info" {% endif %}>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.patient.get_full_name }} [{{patient.patient.hospital_number}}]</a> </td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.patient.plan.plan|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.purpose|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.created_date|date:"M d, Y" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.staff.fullname }}</a></td> 
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none; {% if patient.encounter_status == 2 or patient.encounter_status == 3 %}color: #fff; {% endif %}">{{ patient.completed_by|default:"No Doctor yet" }}</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No patients on the waiting list today</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    </div>
</div>
{% endblock %}
