{% extends 'admin.html' %}

{% block content %}
<style>
    table{
        font-size: 15px;
    }
</style>
<div class="container-fluid">
    <h1 class="h3 mb-1 text-gray-800 font-weight-bold" style="color: rgb(42, 41, 41);"> &nbsp;Patients Queue (Waiting List) <span id="total-count" class="badge badge-secondary"></span> </h1>
    <p></p>
    <hr style="margin-top: -5px;">
    <div class="container">
        <table id="dataTable" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Hospital No.</th>
                                <th>Category</th>
                                <th>Plan</th>
                                <th>Destination</th>
                                <th>Date</th>
                                <th>Sent By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.patient.surname }} {{ patient.patient.other_name }} {{ patient.patient.first_name }}</a> </td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.patient.hospital_number|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.patient.category.category|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.patient.plan.plan|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.purpose|default:"-" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.created_date|date:"M d, Y" }}</a></td>
                                <td><a href="{% url 'administer_drugs' patient.patient.id %}" style="text-decoration: none;">{{ patient.staff.fullname }}</a></td> 
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No patients on the waiting list today</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    </div>
</div>
{% endblock %}
