<div id="medical-module-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-top: -15px;">
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vital_signs' patient.id %}">Collect Vital Signs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'modify_vital_signs' patient.id %}">Modify Vital Signs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'background_health' patient.id %}">Background Health</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'get_case_note' patient.id %}">Case Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#allergyUpdateModal">Update Allergies</a>
            </li>
            <li class="nav-item">
                {% if patient.is_admitted %}
                <a class="nav-link active" href="{% url 'get_notes' patient.id %}">Admission Notes</a>
                {% endif %}
            </li>
        </ul>
        </div>
    </nav>
</div>