{% extends 'admin.html' %}
{% load custom_tags %}
{% block content %}

<div class="container-fluid">
    <h1 class="h3 mb-0 text-gray-800 font-weight-bold" style="padding-left: 10px;">Manage Inventory</h1>
    <p></p>
<div class="row">
    <div class="col-lg-6">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Update products</h6>
            </div>
            <div class="card-body">
                <form method="Post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" class="form-control" name="quantity" placeholder="Enter no of quantity(s)" required />
                    </div>
                    <div class="form-group" style="width: 50%;">
                        <select name="transaction_type" class="form-control" required>
                            <option>--Transaction Type--</option>
                            <option value="SALE">EXPORT (Sale)</option>
                            <option value="PURCHASE">IMPORT (Purchase)</option>
                        </select>
                    </div>
                    <div class="form-group" style="width: 50%; margin: -55px 50%;">
                        <select name="destinations" class="form-control" required>
                            <option>--Destinations--</option>
                            <option value="ipd_pharm">IPD Pharmacy 1</option>
                            <option value="ipd2_pharm">IPD Pharmacy 2</option>
                            <option value="ipd3_pharm">IPD Pharmacy 3</option>
                            <option value="opd_pharm">OPD Pharmacy 1</option>
                            <option value="opd2_pharm">OPD Pharmacy 2</option>
                            <option value="others">Inventory</option>
                        </select>
                    </div>
                    <button type="submit" name="update_transaction" class="btn btn-primary" style="width: 120px; margin-top: 70px;">Update <i class="fa fa-adjust"></i></button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> Modify product</h6>
            </div>
            <div class="card-body">
                <a href="#"data-toggle="modal" data-target="#editProductModal" class="btn btn-primary" >Edit Product <i class="fa fa-edit"></i></a>
                {% if product.activation_status == 1 %}
                <a href="#"data-toggle="modal" data-target="#lockProductModal" class="btn btn-warning" >Lock Product <i class="fa fa-lock"></i></a>
                {% else %}
                <a href="#"data-toggle="modal" data-target="#unlockProductModal" class="btn btn-success" >Unlock <i class="fa fa-lock-open"></i></a>
                {% endif %}
                <a href="#"data-toggle="modal" data-target="#deleteProductModal" class="btn btn-danger" >Delete Product <i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        {% if product.activation_status == 0 %}
        <div class="card shadow mb-4 bg-danger" >
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-danger">This Product is locked</h6>
            </a>
        {% else %}
        <div class="card shadow mb-4" >
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Product's Details</h6>
            </a>
        {% endif %}
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    <table cellpadding="6">
                        <tr style="border-bottom: 1px solid #ccc;"><td>Product's Name</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.product_name}}</td></tr>
                        <tr style="border-bottom: 1px solid #ccc;"><td>Product ID (SKU)</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.product_id}}</td></tr>
                        <tr style="border-bottom: 1px solid #ccc;"><td>Description</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.description}}</td></tr>
                        <tr style="border-bottom: 1px solid #ccc;"><td>Product's Price</td><td>&nbsp;&nbsp;&nbsp;</td><td>&#8358; {{product.price | currency}}</td></tr>
                        <tr style="border-bottom: 1px solid #ccc;"><td>Stock (Quantity)</td><td>&nbsp;&nbsp;&nbsp;</td><td style="color: brown;">{{product.stock}} {{product.minimum_UoM}}</td></tr>
                        {% if product.status > 0 %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Reorder Status</td><td>&nbsp;&nbsp;&nbsp;</td><td style="color: #256fad;">Normal (Above threshold level)</td></tr>
                        {% else %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Reorder Status</td><td>&nbsp;&nbsp;&nbsp;</td><td style="color: brown;">Critical (Below threshold level)</td></tr>
                        {% endif %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Date Created</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.created_date}}</td></tr>                  
                        <tr style="border-bottom: 1px solid #ccc;"><td>Manufacturing Date</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.manufacturing_date}}</td></tr>                  
                        <tr style="border-bottom: 1px solid #ccc;"><td>Expiry Date</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.expiry_date}}</td></tr>  
                        {% if expiry_status == 1 %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Expiry Status</td><td>&nbsp;&nbsp;&nbsp;</td><td style="color: brown;">Expired ({{product.expiry_date | timesince}}) ago</td></tr>                  
                        {% else %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Expiry Status</td><td>&nbsp;&nbsp;&nbsp;</td><td class="text-warning">Expiring in ({{product.expiry_date | timeuntil}}) time</td></tr>                  
                        {% endif %}
                        <tr style="border-bottom: 1px solid #ccc;"><td>Added/Modified By</td><td>&nbsp;&nbsp;&nbsp;</td><td>{{product.staff.fullname}}</td></tr>                  
                    </table>
                    <table style="width: 90%;">
                        <tr style="border-bottom: 1px solid #ccc; position: relative; top: 15px;"><td><img src="{{product.barcode.url}}" style="height: 100px; width: 430px;" /></td></tr>                  
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 150%; margin-right: 100px;">
        <div class="modal-header">
            <h5 class="modal-title text-secondary font-weight-bold" id="exampleModalLabel"><i class="fa fa-edit"></i> Edit Products</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="table-responsive" style="padding-block: 10px; padding-inline: 30px;">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p>{{ field|title }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="left" style="width: 45%; height: 410px;">
                    <h6 class="text-danger">Product Name</h6>
                    <p>
                        {{ form.product_name }}
                        {% if form.product_name.errors %}
                            <div class="text-danger small">{{ form.product_name.errors }}</div>
                        {% endif %}
                    </p>
                    <h6>Description</h6>
                    <p>
                        {{ form.description }}
                        {% if form.description.errors %}
                            <div class="text-danger small">{{ form.description.errors }}</div>
                        {% endif %}
                    </p>
                    <h6 class="text-danger">Price</h6>
                    <p>
                        {{ form.price }}
                        {% if form.price.errors %}
                            <div class="text-danger small">{{ form.price.errors }}</div>
                        {% endif %}
                    </p>
                    <h6 class="text-danger">Stock (Volume)</h6>
                    <p>
                        {{ form.stock }}
                        {% if form.stock.errors %}
                            <div class="text-danger small">{{ form.stock.errors }}</div>
                        {% endif %}
                    </p>
                </div>
                <div class="right" style="width: 45%; margin-left:50%; margin-top: -410px; height: 330px;" >
                    <h6>Manufacturing Date</h6>
                    <p>
                        {{ form.manufacturing_date }}
                        {% if form.manufacturing_date.errors %}
                            <div class="text-danger small">{{ form.manufacturing_date.errors }}</div>
                        {% endif %}
                    </p>
                    <h6 class="text-danger">Expiry Date</h6>
                    <p>
                        {{ form.expiry_date }}
                        {% if form.expiry_date.errors %}
                            <div class="text-danger small">{{ form.expiry_date.errors }}</div>
                        {% endif %}
                    </p>
                    <h6 class="text-danger">Expiry Flag in</h6>
                   <div style="width: 49%;">
                        <p>
                            {{ form.expiry_flag_in_num }}
                            {% if form.expiry_flag_in_num.errors %}
                                <div class="text-danger small">{{ form.expiry_flag_in_num.errors }}</div>
                            {% endif %}
                        </p>
                   </div>
                    <div style="width: 50%; margin-left: 50%; margin-top:-54px ;">
                        <p>
                            {{ form.expiry_flag_in }}
                            {% if form.expiry_flag_in.errors %}
                                <div class="text-danger small">{{ form.expiry_flag_in.errors }}</div>
                            {% endif %}
                        </p>
                   </div>
                    <h6 class="text-danger">Minimum Units of Measurement</h6>
                    <p>
                        {{ form.minimum_UoM }}
                        {% if form.minimum_UoM.errors %}
                            <div class="text-danger small">{{ form.minimum_UoM.errors }}</div>
                        {% endif %}
                    </p>

                </div>
                <div class="bottom" style="width:45%">
                    <h6 class="text-danger"> Product ID (SKU)</h6>
                    <p>
                        {{ form.product_id }}
                        {% if form.product_id.errors %}
                            <div class="text-danger small">{{ form.product_id.errors }}</div>
                        {% endif %}
                    </p>
                </div>
                <div class="bottom2" style="width: 45%; margin-top: -82px; margin-left: 50%;">
                    <h6 class="text-danger">Low Stock Threshold (Reorder)</h6>
                    <p>
                        {{ form.low_stock_threshold }}
                        {% if form.low_stock_threshold.errors %}
                            <div class="text-danger small">{{ form.low_stock_threshold.errors }}</div>
                        {% endif %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" name="product_edit"><i class="fas fa-edit"></i> Edit Products</button>
                </div>
              </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title text-secondary font-weight-bold" id="exampleModalLabel"><i class="fa fa-trash"></i> Delete Product</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="table-responsive" style="padding-block: 10px; padding-inline: 30px;">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div style="padding-bottom: 30px;">
                    <span class="text-secondary font-weight-bold" style="font-family: cursive;">Are you sure you want this product to be deleted?</span>
                    <p>Note:</p>
                    <p>Deletion of this product will automatically remove all the instances of this product from all the pharmacy stores attached to your inventory</p>
                    <p>wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit" name="product_delete"><i class="fas fa-trash"></i> Delete</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="lockProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title text-secondary font-weight-bold" id="exampleModalLabel"><i class="fa fa-lock"></i> Lock Product</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="table-responsive" style="padding-block: 10px; padding-inline: 30px;">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div style="padding-bottom: 30px;">
                    <span class="text-secondary font-weight-bold" style="font-family: cursive;">Are you sure you want this product to be locked?</span>
                    <p>Note:</p>
                    <p>Locking this product will automatically lock all the instances of this product from all the pharmacy stores attached to your inventory</p>
                    <p>wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-warning" type="submit" name="product_lock"><i class="fas fa-lock"></i> Lock</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="unlockProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title text-secondary font-weight-bold" id="exampleModalLabel"><i class="fa fa-lock-open"></i> Unlock Product</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="table-responsive" style="padding-block: 10px; padding-inline: 30px;">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div style="padding-bottom: 30px;">
                    <span class="text-secondary font-weight-bold" style="font-family: cursive;">Are you sure you want this product to be locked?</span>
                    <p>Note:</p>
                    <p>Unlocking this product will automatically unlock all the instances of this product from all the pharmacy stores attached to your inventory</p>
                    <p>wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit" name="product_unlock"><i class="fas fa-lock-open"></i> Unlock</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock content %}

