{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <div class="form-wrapper">
    <span class="logo">Isalu Hospital</span>
    <span class="title">Enter new Password</span>
    <form class="relog" method="post">
      {% csrf_token %}
    <div> 
    <p style="width:310px; margin-top:50px; font-size: 16px;">Please enter your new password twice, so we can verify you typed it in correctly
    </p>
    </div>
    {{form}}
    <button  class="sign-up">Update Password</button>
    </form>
    <p>You do not have account? <a href ="{% url 'create_account' %}">Create Acccount</a></p>
  </div>
</div>
</body>
</html>