{% extends 'admin.html' %}
{% load static %}

{% block content %}
<style>
    input[type="password"]{
        height: 40px; width: 400px;
    }
    li{
        color: red;
    }
</style>
<div class="container-fluid" style="padding-bottom: 20px;">
	<h1 class="h3 mb-1 text-primary font-weight-bold" style="color: rgb(42, 41, 41);"><i class="fa fa-lock"></i> &nbsp;Change your Password</h1>
	<p></p>
    <p class="mb-4">
		Note: Password length must be more than 7 characters, and avoid having a form of similarities between your password and other details of yours
	</p>
            <div style="width: 60%;">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <label>Enter the old Password</label>
                        {{form.old_password}}
                        {{form.errors.old_password}} 
                    </p>
                    <p>
                        <label>Enter New Password</label>
                        {{form.new_password1}}
                        {{form.errors.new_password1}} 
                    </p>
                    <p>
                        <label>Confirm New Password</label>
                        {{form.new_password2}}
                        {{form.errors.new_password2}} 
                    </p>
                    <button type="submit" class="btn btn-primary btn-lg mt-1">Change Password <i class="fa fa-key"></i></button>
                </form>
            </div>
        </div>
{% endblock content %}