{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <div class="form-wrapper">
    <span class="logo">Isalu Hospital</span>
    <span class="title">Password Reset</span>
    <form class="relog" method="post">
      {% csrf_token %}
    <div> 
    <p style="width:310px; margin-top:50px; font-size: 16px;">Forgotten your password? Enter your Email address below, and we'll email instructions for setting a new one, you can also <a href ="{% url 'custom_password_reset' %}" style="color: #256fad;">use custom reset password option?</a></p>
    </div>
    {{form}}
    <button  class="sign-up">Send Email</button>
    </form>
    <p><a href ="{% url 'custom_password_reset' %}" style="color: #256fad;">Would you like to use custom reset password option?</a> <a href ="{% url 'login' %}">Back to Home</a></p>
  </div>
</div>
</body>
</html>