{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <div class="form-wrapper">
    <span class="logo">Isalu Hospital</span>
    <span class="title">Password Reset Completed</span>
    <form class="relog" method="post">
      {% csrf_token %}
    <div> 
    <p style="width:310px; margin-top:50px; font-size: 16px;">
      Your new Password has been set. You may go ahead and log in now.
    </p>
    </div>
    <a href="/">Log in</a>
  </div>
</div>
</body>
</html>