{% extends 'admin.html' %}

{% block content %}
<style>
    input[type="text"],input[type="email"],select{
        width:100%; height: 40px; padding-left: 10px;
        border:1px solid #ccc; margin-top: 10px;
        border-radius: 5px; color: #757171;
    }
</style>
  <!-- Content Row -->
  <div class="container-fluid">

    <!-- Page Heading -->
        {% if user.active == '1' %}
            <h1 class="h3 mb-1 text-primary font-weight-bold"><i class="fa fa-adjust"></i> &nbsp;Modify Profile <span class="text-success">(Activated)</span></h1>
        {% else %}
            <h1 class="h3 mb-1 text-primary font-weight-bold"><i class="fa fa-adjust"></i> &nbsp;Modify Profile <span class="text-danger">(Deactivated)</span></h1>
        {% endif %}
    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6">

            <!-- Overflow Hidden -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Staff Details</h6>
                </div>
                <div class="card-body">
                    <form method="post", enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#profileUpdateModal" style="text-decoration: none;">Update Profile <i class="fa fa-adjust"></i></a>
                        <div class="modal fade" id="profileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Pin Code Authentication</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="password" name="pin_code" placeholder="enter pin code" class="form-control" required/>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit">Update Profile <i class="fa fa-adjust"></i></button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dropdown No Arrow -->

        </div>

        <div class="col-lg-6">

            <!-- Roitation Utilities -->
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Image</h6>
                </div>
                <div class="card-body text-center" style="background: #f8f8f8;">
                    <div style="padding-inline: 30px; padding-block: 30px; background: #fff;">
                        <img src="{{user.avatar.url}}" style=" border-radius: 5px; width: 100%; height: 350px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pin request -->

{% endblock content%}