<li class="nav-item">
    <a class="nav-link" href="{% url 'waiting_list' %}">
        <i class="fas fa-fw fa-users"></i>
        <span>Waiting List</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'done_list' %}">
        <i class="fas fa-fw fa-check-circle"></i>
        <span>Today's Done List</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'ward-page' %}">
        <i class="fas fa-fw fa-hospital"></i>
        <span>Ward Management</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'admission_table' %}">
        <i class="fas fa-fw fa-procedures"></i>
        <span>Admissions</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'today_appointment' %}">
        <i class="fas fa-fw fa-calendar"></i>
        <span>Today's Appointments</span>
    </a>
</li>